@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  .dark {
    color-scheme: dark;
  }

  body {
    font-family: var(--font-sans);
  }
}
